__pycache__/*
downloads/*
logs/*
tmp/*
test.html
test.txt
src/__pycache__/*
src/PageParse/__pycache__/*
Sender/__pycache__/*
Sender/uploads/*
uploads/*
assets/analysis.html
test_files/*.py
src/utils/__pycache__/*
src/PageParse/utils/__pycache__/*
src/PageParse/__pycache__/*
src/PageParse/JabPageParser/__pycache__/*
src/PageParse/MissavPageParser/__pycache__/*
src/encoder/__pycache__/*
src/decoder/__pycache__/*
src/Config/__pycache__/*
src/Bases/__pycache__/*
src/Error/__pycache__/*
src/Crawlers/__pycache__/*
test.py